<?xml version="1.0" encoding="utf-8"?>
<manifest package="dev.lucasnlm.antimine.themes"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:label="@string/themes"
            android:name=".ThemeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.lucasnlm.antimine.GameActivity" />
        </activity>
    </application>
</manifest>
