<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="dev.lucasnlm.antimine.about.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme" />

        <activity
            android:name="dev.lucasnlm.antimine.licenses.LicenseActivity"
            android:label="@string/licenses"
            android:theme="@style/AppTheme" />
    </application>

</manifest>