<?xml version="1.0" encoding="utf-8"?>
<manifest package="dev.lucasnlm.antimine"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="false" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:name="dev.lucasnlm.antimine.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop">

        <activity
            android:name="dev.lucasnlm.antimine.splash.SplashActivity"
            android:theme="@style/Theme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="dev.lucasnlm.antimine.GameActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="default-url"
                android:value="https://www.lucasnlm.dev/antimine" />

            <intent-filter
                android:order="1"
                android:autoVerify="true"
                tools:targetApi="m">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="lucasnlm.dev"
                    android:scheme="https" />

                <data android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="antimine" android:host="new-game" />
            </intent-filter>

        </activity>

        <activity android:name="dev.lucasnlm.antimine.TvGameActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name="dev.lucasnlm.antimine.about.thirds.ThirdPartiesActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="dev.lucasnlm.antimine.about.TextActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="dev.lucasnlm.antimine.about.AboutActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="dev.lucasnlm.antimine.preferences.PreferencesActivity"
            android:label="@string/settings"
            android:parentActivityName="dev.lucasnlm.antimine.GameActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.lucasnlm.antimine.GameActivity"/>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/app_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>
</manifest>