<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.lucasnlm.antimine"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <dist:module dist:instant="true" />

    <application
        android:name="dev.lucasnlm.antimine.MainApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop">

        <activity
            android:name="dev.lucasnlm.antimine.splash.SplashActivity"
            android:theme="@style/Theme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="dev.lucasnlm.antimine.GameActivity"
            android:saveEnabled="false"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">

            <tools:validation testUrl="https://www.lucasnlm.dev/antimine" />
            <tools:validation testUrl="http://www.lucasnlm.dev/antimine" />
            <tools:validation testUrl="https://www.lucasnlm.dev/" />
            <tools:validation testUrl="http://www.lucasnlm.dev/" />

            <meta-data
                android:name="default-url"
                android:value="https://www.lucasnlm.dev/antimine" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="new-game"
                    android:scheme="antimine" />

                <data
                    android:host="load-game"
                    android:scheme="antimine" />
            </intent-filter>

            <intent-filter
                android:order="1"
                android:autoVerify="true"
                tools:targetApi="m">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data
                    android:host="www.lucasnlm.dev" />

                <data
                    android:host="www.lucasnlm.dev"
                    android:path="/" />

                <data
                    android:host="www.lucasnlm.dev"
                    android:path="/antimine" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.lucasnlm.antimine.TvGameActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN"/>-->
            <!--                <category android:name="android.intent.category.LAUNCHER"/>-->
            <!--            </intent-filter>-->

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="dev.lucasnlm.antimine.about.views.thirds.ThirdPartiesFragment"
            android:label="@string/licenses"
            android:theme="@style/AppTheme" />

        <activity
            android:name="dev.lucasnlm.antimine.about.views.translators.TranslatorsFragment"
            android:theme="@style/AppTheme" />

        <activity
            android:name="dev.lucasnlm.antimine.about.TextActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="dev.lucasnlm.antimine.about.AboutActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="dev.lucasnlm.antimine.history.HistoryActivity"
            android:parentActivityName="dev.lucasnlm.antimine.GameActivity" />

        <activity
            android:name="dev.lucasnlm.antimine.preferences.PreferencesActivity"
            android:label="@string/settings"
            android:parentActivityName="dev.lucasnlm.antimine.GameActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.lucasnlm.antimine.GameActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>